<div class="resume-wrap ftco-animate">
    <div class="date">{{year |titlecase}} </div> 
    <h2 *ngIf = 'degree'>{{degree}}</h2>
    <h2 *ngIf = 'role'>{{role |titlecase}}</h2>
    <span class="position" *ngIf = 'college'>{{college}}</span>
    <span class="position" *ngIf = 'company'>{{company}}</span>
    <p class="mt-4">{{description}}</p>
    <p class="mt-4" *ngIf='description == " "'>Chat Application <br/>
        Developed React & Express App whose Main features were:<br/>
        ● User registration, Document registration, Delete & update user, <br/>
        Group Chat<br/>
        Portfolio React App : 
        Developed portfolio in react whose main features were:<br/>
        ● Resume, Project List, Address Information 
        Project Web-SOC :
        Worked as a Front-End & UI designer for the web application whose main 
        features were:<br/>
        ● Student and staff registration, Staff role management, Class timetable generation, Event scheduling<br/>
        ● Auto daily schedule for students as well as staff, Student profile and 
        documents<br/>
        Institute Record Management System<br/> 
        Worked as a Front-End & UI designer for the web application whose main <br/>
        features were:<br/>
        ● User registration and authentication, Courses management, Fee 
        record and fee receipt generation<br/>
        ● Certificate generation after course completion<br/>
        Certifications:<br/>
MTA: Introduction to Programming Using Python – Certified 2020
        </p>
  </div>
