.subheading
{
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffbd39;
}
.text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800; }