<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container">
      <div class="row d-md-flex align-items-center">
     
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="1200">35</strong>
              <span>Complete Projects</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="1200">20</strong>
              <span>Happy Customers</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18">
            <div class="text">
              <strong class="number" data-number="500">10</strong>
              <span>Technology</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-section ftco-hireme img margin-top" style="background-image: url(../../assets/Images/BG.JPG)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 ftco-animate text-center">
          <h2>I'm <span>Available</span> for freelancing</h2>
          <p>Contact me on  </p>
          <p class="mb-0"><a href='{{details.linkdin}}' style="cursor: pointer;" class="btn btn-primary py-3 px-5">Linkdin</a></p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2">Contact</h1>
          <h2 class="mb-4">Contact Me</h2>
          <p>For any type of Designing, Editing, Developing</p>
        </div>
      </div>
  
      <div class="row d-flex contact-info mb-5">
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span >✉</span>
            </div>
            <h3 class="mb-4">Address</h3>
            <p>{{details.address |titlecase}}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span >☎</span>
            </div>
            <h3 class="mb-4">Contact Number</h3>
            <p><a href="tel://1234567920">{{details.phone}}</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span >@</span>
            </div>
            <h3 class="mb-4">Email Address</h3>
            <p><a href="mailto:info@yoursite.com">{{details.email}}</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span >🗏</span>
            </div>
            <h3 class="mb-4">Website</h3>
            <p><a href="#">yoursite.com</a></p>
          </div>
        </div>
      </div>
  
</div>
</section>  